/*
    公用样式

* { margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(255,255,255,0);}*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
}

#adWrap{
	overflow: hidden;
}
.i_top {    
    position: relative;
    width: 18rem;
    margin: 0 auto
}
.i_top ul{
	overflow: hidden;
	width: 400%;
        height:200px;
}
.i_top li{
	float: left;
	width: 25%;
	position:relative;
}
.i_top img{
	display: block;
	width: 100%;
}

.ad_btn_wrap{
	position: absolute;
	top: 90%;
	width: 100%;
}
.ad_btn_wrap a{
	display: block;
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background:rgba(255, 255, 255, 0.8);
}
.ad_btn_wrap a:nth-child(1){
	background: #ff7b23;
	margin-left: 45%;
}
#out {
    overflow: hidden;
    width: 100%;
}

#in {
    overflow: hidden;
}

    #in img {
        display: block;
        width: 100%;
        float: left;
    }
    
.article{
	width: 100%;
	height: auto;
}














